<ion-tabs>

  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="to-do-list" href="/pages/to-do-list"  >
      <ion-icon name="list"></ion-icon>
      <ion-label>To Do List</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add-task" href="/pages/add-task"  >
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Add Task</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="goals" href="/pages/goals"  >
      <ion-icon name="star-outline"></ion-icon>
      <ion-label>Goals</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add-goal" href="/pages/add-goal"  >
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Add Goal</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="achievements" href="/pages/achievements"  >
      <ion-icon name="trophy-outline"></ion-icon>
      <ion-label>Achievements</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notes" href="/pages/notes"  >
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Notes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add-note" href="/pages/add-note"  >
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Add Note</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="video-diary" href="/pages/video-diary"  >
      <ion-icon name="videocam-outline"></ion-icon>
      <ion-label>Video Diary</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="images-diary" href="/pages/images-diary"  >
      <ion-icon name="image-outline"></ion-icon>
      <ion-label>Video Diary</ion-label>
    </ion-tab-button>
  
  </ion-tab-bar>

</ion-tabs>
